#users-table {
    transform: scale(1);
    margin-left: 130px;
    width: 100%;
}

.table-block {
    max-height: 440px;
    min-height: 440px;
}

#app {
    background: none;
}

.pagination {
    margin-left: 0px;
}

.pagination > nav  {
    width: 100%;
}

.departmentsMainBlock {
    background-color: white;
    text-align: center;
    padding-top: 15px;
    height: 100vh;
}
.text-depart-table {
    font-size: 16px;
    height: 40px;
    display: flex;
    justify-content: left;
    align-items: center;
}
.confirmDeleteDepartment {
    height: 40px;
}
.depart-content-main {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1100px;
    margin: 0 auto;
}

.departments-main {
    background-color: white;
    text-align: center;
    min-height: 100vh;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.department-container {
    max-width: 1440px;
    width: 100%;
    padding: 100px 50px 100px;
    margin: 0;
}
.departments-add-new-depart {
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 20px 0 40px;
}
.departments-add-new-depart-btn {

}
.departments-add-new-depart-btn:hover {

}

.department-delete-btn {
    fill: #ff6565;

    transition: all .5s;
}
.department-delete-btn:hover {
    fill: #ff0000;
}

@media (max-width: 1400px) {
    .depart-content-main {
        transform: scale(.7);
        position: relative;
        bottom: 50px;
        right: 12px;
    }
}
