p {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

.login-main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: rgba(250, 250, 250, .7);
    height: 100vh;
}

.login-form-content {
    transform: scale(1);
}

.login-logo-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    width: 50%;
    height: 100vh;
}

.login-title-block {
    margin: 54px 0 0;
}

.login-title {
    width: 360px;
    height: 117px;
    font-family: 'Proxima Nova', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    text-align: center;
    color: #000000;
}

.login-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background-color: #000000;
    color: #ffff;
    width: 50%;
    height: 100vh;
}

.login-main-title {
    font-family: 'Proxima Nova', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    text-align: center;
    color: #FFFFFF;
    padding: 0;
    margin: 0 0 30px;
}

input {
    border: none;
    appearance: none;
    outline: none;
    padding: 0;
    margin: 0;
    text-decoration: none;
}

.log-form-email {
    margin: 20px 0 20px;
}

.log-f-email {
    height: 56px;
    width: 324px;
    padding: 19px;
    background: #FFFFFF;
    backdrop-filter: blur(10px);
    border-radius: 10px;
    display: flex;
    justify-content: left;
    align-items: center;
}

.log-f-email::placeholder {
    font-family: 'Proxima Nova', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    text-align: left;
    letter-spacing: 0.11em;
    text-transform: uppercase;

    color: #000000;
}

.log-f-pass {
    height: 56px;
    width: 324px;
    padding: 19px;
    background: #FFFFFF;
    backdrop-filter: blur(10px);
    border-radius: 10px;
    display: flex;
    justify-content: left;
    align-items: center;
}

.log-f-pass::placeholder {
    font-family: 'Proxima Nova', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    text-align: left;
    letter-spacing: 0.11em;
    text-transform: uppercase;
    color: #000000;
}

.log-form-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 0 37px;
    width: 324px;
}

.log-f-forget-text {
    font-family: 'Proxima Nova', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    text-decoration-line: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.63);
    cursor: pointer;
    color: #FFFFFF;
}

.log-f-enter-btn {
    border: 0;
    height: 56px;
    width: 195px;
    background: grey;
    border-radius: 10px;
    border: 1px solid transparent;
    transition: background .3s;
}

.log-f-enter-btn:hover {
    background: #ffde5f;
}

.log-f-enter-text {
    font-family: 'Proxima Nova', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0.11em;
    text-transform: uppercase;
    color: #000000;
}

.log-text-decorate {
    width: 324px;
    height: 21.5px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
}

.log-text-dec {
    width: 91px;
    font-family: 'Proxima Nova', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: #FFFFFF;
    background-color: #000000;
    mix-blend-mode: normal;
    position: absolute;
    margin-top: 0;
}

.log-text-decorate:before {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.63);
    position: relative;
}

.log-form-google {
    margin: 20px 0 20px;
}

.log-f-google {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 56px;
    width: 324px;
    background: #FFFFFF;
    backdrop-filter: blur(10px);
    border-radius: 10px;
}

.log-f-g-text {
    position: relative;
    top: 2px;
    font-family: 'Proxima Nova', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0.11em;
    text-transform: uppercase;
    color: #000000;
    padding: 0;
}

.log-form-facebook {
    margin: 20px 0 20px;
}

.log-f-facebook {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 56px;
    width: 324px;
    background: #FFFFFF;
    backdrop-filter: blur(10px);
    border-radius: 10px;
}

.log-f-f-text {
    position: relative;
    top: 2px;
    font-family: 'Proxima Nova', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0.11em;
    text-transform: uppercase;
    color: #000000;
    padding: 0;
}

.log-title-t {
    font-family: 'Proxima Nova', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    color: #FFFFFF;
    mix-blend-mode: normal;
}

.log-btn-singup {
    margin: 39px 0 0;
    text-align: center;
}

.log-btn-sing {
    height: 56px;
    width: 324px;
    padding: 20px 130px;
    background: #F1C82D;
    border-radius: 10px;
    transition: background .3s;
}

.log-btn-sing:hover {
    background: #ffde5f;
}

.log-btn-sing span {
    font-family: 'Proxima Nova', sans-serif;
    text-decoration: none;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
}

.log-form-captcha {
    width: 200px;
    margin: 20px 0 0;
    position: relative;
    left: 14px;
    bottom: 14px;
}

/*ADAPTIVE LOGIN PAGE*/
/*@media (min-width: 2560px) {*/
/*    .navbar-link {*/
/*        font-size: 40px;*/
/*    }*/
/*    .f-list {*/
/*        display: flex;*/
/*        justify-content: left;*/
/*        align-items: center;*/
/*        width: 100%;*/
/*    }*/
/*    .f-text {*/
/*        font-size: 20px;*/
/*        margin-right: 40px;*/
/*    }*/
/*    .f-sub-text {*/
/*        font-size: 20px;*/
/*    }*/
/*    .login-main-title {*/
/*        transform: scale(1.7);*/
/*        position: relative;*/
/*        bottom: 250px;*/
/*    }*/
/*    .login-form-content {*/
/*        transform: scale(1.7);*/
/*    }*/
/*}*/
/*@media (min-width: 3840px) {*/
/*    .navbar-link {*/
/*        font-size: 40px;*/
/*    }*/
/*    .f-list {*/
/*        display: flex;*/
/*        justify-content: left;*/
/*        align-items: center;*/
/*        width: 100%;*/
/*    }*/
/*    .f-text {*/
/*        font-size: 40px;*/
/*        margin-right: 70px;*/
/*    }*/
/*    .f-sub-text {*/
/*        font-size: 30px;*/
/*    }*/
/*    .login-logo-main {*/
/*        transform: scale(1.7);*/
/*    }*/
/*    .login-title-block {*/
/*        transform: scale(1.3);*/
/*        margin: 115px 0 0;*/
/*    }*/
/*    .login-main-title {*/
/*        transform: scale(1.7);*/
/*        position: relative;*/
/*        bottom: 450px;*/
/*    }*/
/*    .login-form-content {*/
/*        transform: scale(2.3);*/
/*    }*/
/*}*/
@media (max-width: 1820px) {
    .login-form-content {
        transform: scale(1);
        /*background: blue;*/
    }
    .login-main-title {
        position: relative;
        top: 0px;
        font-size: 26px;
    }
}
@media (max-width: 1640px) {
    .login-form-content {
        transform: scale(0.8);
        /*background: red;*/
    }
    .login-main-title {
        position: relative;
        font-size: 24px;
    }
}
@media (max-width: 1440px) {
    .login-form-content {
        transform: scale(0.7);
        /*background: rebeccapurple;*/
    }
}

@media (max-width: 1320px) {
    .container-nav {
        position: absolute;
        width: 100%;
        padding: 40px 80px 0;
        margin: 0;
    }
    .navbar-link {
        font-size: 14px;
    }
    .login-form-content {
        transform: scale(0.7);
        /*background: #39ff00;*/
    }
    .login-main-title {
        position: relative;
        font-size: 20px;
    }
}

@media (max-width: 1210px) {
    .login-logo-main {
        transform: scale(0.6);
    }
    .login-title-block {
        transform: scale(0.6);
        margin: 0;
    }
    .container-nav {
        position: absolute;
        width: 100%;
        padding: 30px 80px 0;
        margin: 0;
    }
    .navbar-link {
        font-size: 12px;
    }
    .login-form-content {
        transform: scale(0.6);
        /*background: #ffeb00;*/
    }
    .login-main-title {
        position: relative;
        font-size: 16px;
    }
}

@media (max-width: 960px) {
    .container-nav {
        z-index: 101;
        position: absolute;
        width: 100%;
        padding: 20px 80px 0;
        margin: 0;
    }
    .navbar-link {
        font-size: 12px;
    }
    .login-form-content {
        /*background: #00ffdf;*/
    }
    .log-form-google {
        margin: 20px 0 20px;
    }

    .login-logo-content {
        width: 0%;
    }

    .login-form {
        width: 100%;
        z-index: 100;
    }
}

@media (max-width: 820px) {
    .container-nav {
        z-index: 101;
        position: absolute;
        width: 100%;
        padding: 10px 80px 0;
        margin: 0;
    }
    .navbar-link {
        font-size: 10px;
    }
    .log-form-google {
        margin: 20px 0 20px;
    }

    .login-logo-content {
        width: 0%;
    }

    .login-form {
        width: 100%;
        z-index: 100;
    }
    .login-form-content {
        transform: scale(0.5);
        /*background: #ff8800;*/
    }
    .login-main-title {
        position: relative;
        font-size: 12px;
    }
}
@media (max-width: 710px) {
    .container-nav {
        z-index: 101;
        position: absolute;
        width: 100%;
        padding: 10px 80px 0;
        margin: 0;
    }
    .navbar-link {
        font-size: 10px;
    }
    .log-form-google {
        margin: 20px 0 20px;
    }

    .login-logo-content {
        width: 0%;
    }

    .login-form {
        width: 100%;
        z-index: 100;
    }
    .login-form-content {
        transform: scale(0.4);
        /*background: #00ff76;*/
    }
    .login-main-title {
        position: relative;
        font-size: 12px;
    }
}

@media (max-height: 890px) {
    .test1 {
        display: grid;
        grid-template-columns: 224px 224px;
        gap: 20px
    }
    /*.login-form-content {*/
    /*    transform: scale(0.8);*/
    /*}*/
    .log-form-flex {
        width: 468px;

        margin: 0;
    }

    /*.login-main-title {*/
    /*    margin: 0 0 20px;*/
    /*    position: relative;*/
    /*    !*top: 50px;*!*/
    /*    font-size: 26px;*/
    /*}*/

    .log-form-name {
        margin: 0 0 0 0;
    }

    .log-form-email {
        margin: 0 0 0 0;
    }

    .log-f-email {
        width: 224px;
    }

    .log-form-pass {
        margin: 0 0 0 0;
    }

    .log-f-pass {
        width: 224px;
    }

    .log-text-decorate {
        position: relative;
        top: 35px;
        right: 0px;
        width: 468px;
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .log-form-forget {
        width: 224px;
        height: 56px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .log-form-pass-conf {
        margin: 0 0 0 0;
    }

    .log-form-enter {
        margin: 0 0 0 0;
        /*width: 324px;*/
    }

    .log-f-enter-btn {
        width: 224px;
    }

    .log-form-google {
        margin: 60px 0 20px;
    }

    .log-f-google {
        width: 468px;
    }

    .log-f-g-text {
        content: 'test';
    }

    .log-form-facebook {
        margin: 19px 0 0 0;
    }

    .log-f-facebook {
        width: 468px;
    }

    .test2 {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .log-title-text {
        position: relative;
        top: 23px;
        right: -10px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 0 0 0;
        width: 224px;
        height: 56px;
    }

    .log-btn-singup {
        position: relative;
        left: 244px;
        top: -18px;
        width: 224px;
        margin: 0 0 0 0;
        /*text-align: center;*/
        /*height: 56px;*/
    }

    .log-btn-sing {
        width: 224px;
        padding: 20px 83px;
    }

    .log-form-captcha {
        margin: 20px 0 0;
        position: relative;
        left: 80px;
        bottom: -10px;
    }
    @media (max-width: 960px) {
        .log-form-google {
            margin: 60px 0 20px;
        }

        .login-logo-content {
            width: 0%;
        }

        .login-form {
            width: 100%;
        }
    }
}
