.modal-text-departments {
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: 600;
    font-family: 'Proxima Nova', sans-serif;
    text-align: left;
}

.modalChangePassword {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 5;
    left: 0;
    top: 0;
    width: 100vw !important;
    height: 100vh !important;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modalChangePassword > .modal-content {
    width: 100%;
    height: 100%;
    background-color: rgba(254, 254, 254, 0.95);
    padding: 0px;
    transform: scale(1.0);
}

.modalChangePassword > .modal-content > .modal-content-text {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.dropdown-departments-modal, .dropdown-departments-modal-iTemperature, .dropdown-teams-modal-iTemperature, .dropdown-teams-modal {
    display: none; /* Hidden by default */
    justify-content: center;
    align-items: center;
    position: fixed; /* Stay in place */
    z-index: 1001 !important; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-satisfactionITemperatureIndex {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 3000; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-gapReport {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 3000; /* Sit on top */
    left: 0;
    top: -50px;
    width: 100%; /* Full width */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-satisfactionIndicatorReport {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 3000; /* Sit on top */
    left: 0;
    top: -50px;
    width: 100%; /* Full width */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-team {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 3000; /* Sit on top */
    left: 0;
    top: -50px;
    width: 100%; /* Full width */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}


.modal-satisfactionITemperatureIndex {

}
.modal-content, .dropdown-departments-content, .dropdown-teams-content, .dropdown-departments-content-iTemperature, .dropdown-teams-content-iTemperature {
    transform: scale(0.9);
    width: 60%;
    height: 47vh;
    padding: 15px;
    background-color: #fefefe;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
}
.modal-content-1 {
    transform: scale(1.5);
    width: 60%;
    height: 450px;
    padding: 15px;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
}
.modal-content-2 {
    width: 800px;
    height: 750px;
    padding: 15px;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
}
.modal-gapReport {
    height: 100vh;
}
.modal-gapReport-content {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.modal-content-4 {
    transform: scale(0.9);
    width: 25%;
    height: 880px;
    padding: 15px;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
}
.close {
    color: black;
    float: right;
    font-size: 40px;
    font-weight: bold;
    position: relative;
    bottom: 23px;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: start;
    height: 100%;
    margin: 0 0 30px;
    transition: all .1s;
}

.close:hover,
.close:focus {
    color: red;
    text-decoration: none;
    cursor: pointer;
}
/*.close svg {*/
/*    cursor: pointer;*/
/*}*/
.modal-flex-content-1 {
    position: relative;
    top: 90px;
    transform: scale(1.3);
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal-satisfactionIndicatorReport {
    height: 100vh;
}
.modal-flex-content-2 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal-flex-content-3 {
    transform: scale(1.8);
    position: relative;
    top: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal-content-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.modal-content-check {
    margin: 0 0 45px;
}
.modal-text, .dropdown-departments-text, .dropdown-teams-text, .dropdown-departments-text-iTemperature, .dropdown-teams-text-iTemperature {
    margin: 0 0 40px;
}
.modal-t {
    width: 225px;
    height: 29px;

    font-family: 'Proxima Nova', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-align: center;

    color: #000000;

}
.modal-button {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 70px;
    width: 300px;
    text-decoration: none;
    background: #59D876;
    border-radius: 10px;
    transition: all 0.5s;
}
.modal-button:hover {
    background: #42a457;
}

.updateDataForm {
    margin-top: -30px;
}

/*TEST*/
/*POPUP/MODAL*/
.btn-module-show-team {
    background: transparent;
    border: 0;
    box-shadow: none;
    cursor: pointer;
    z-index: 5;
    pointer-events: none;
}
.btn-module-show-team:active {
    border: 0;
    box-shadow: none;
}
.btn-module-show-team:focus {
    border: 0;
    box-shadow: none;
}
.btn-module-show-Indicator {
    background: transparent;
    border: 0;
    box-shadow: none;
    cursor: pointer;
    z-index: 5;
    pointer-events: none;
}
.btn-module-show-Indicator:active {
    border: 0;
    box-shadow: none;
}
.btn-module-show-Indicator:focus {
    border: 0;
    box-shadow: none;
}
.btn-module-show-gapReport {
    background: transparent;
    border: 0;
    box-shadow: none;
    cursor: pointer;
    position: relative;
    bottom: 2px;
    z-index: 0;
    pointer-events: none;
}
.btn-module-show-gapReport:active {
    border: 0;
    box-shadow: none;
}
.btn-module-show-gapReport:focus {
    border: 0;
    box-shadow: none;
}
.btn-module-show-ITemperature {
    background: transparent;
    border: 0;
    box-shadow: none;
    cursor: pointer;
    position: relative;
    bottom: 2px;
    z-index: 1;
    pointer-events: none;
}
.btn-module-show-ITemperature:active {
    border: 0;
    box-shadow: none;
}
.btn-module-show-ITemperature:focus {
    border: 0;
    box-shadow: none;
}
.modalTest {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 100px;
}
.main-content-test {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}
.btn-test {
    z-index: 3000;
    border: none;
    cursor: pointer;
    background-color: #000;
    color: #fff;
}
.modal-test-exit {
    z-index: 3001;
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 0;
    margin: 0;
    border: 0;
    width: 100%;
    box-shadow: none;
    background: transparent;
}
.modal-test-exit svg{
    width: 30px;
    height: 30px;
    fill: black;
    cursor: pointer;
    background: transparent;

    transition: all .3s;
}
.modal-test-exit svg:hover{
    width: 30px;
    height: 30px;
    fill: red;
}
/*modal 1*/
.modal-overlay-test {
    z-index: 3000;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}
.modal-test .modal-content-test {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 10px 20px 30px;
}
.modal-test {
    transform: scale(1.1);
    background-color: #fff;
    border-radius: 10px;
    width: 400px;
    height: 750px;
    display: none;
}
.modal-overlay--visible-test {
    opacity: 1;
    visibility: visible;
    transition: all 0.3s ease-in-out;
}
.modal--visible-test {
    display: block;
}
.modal-test-block {

}
/*modal 2*/
.modal-overlay-test-2 {
    z-index: 3000;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}
.modal-test-2 {
    transform: scale(1.5);
    background-color: #fff;
    border-radius: 10px;
    width: 420px;
    height: 430px;
    display: none;
}
.modal-test-2 .modal-content-test-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 10px 20px 30px;
}
.modal-overlay--visible-test-2 {
    opacity: 1;
    visibility: visible;
    transition: all 0.3s ease-in-out;
}
.modal--visible-test-2 {
    display: block;
}
/*modal 3*/
.modal-overlay-test-3 {
    z-index: 3000;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}
.modal-test-3 {
    transform: scale(1.5);
    background-color: #fff;
    border-radius: 10px;
    width: 420px;
    height: 430px;
    display: none;
}
.modal-test-3 .modal-content-test-3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 10px 20px 30px;
}
.modal-overlay--visible-test-3 {
    opacity: 1;
    visibility: visible;
    transition: all 0.3s ease-in-out;
}
.modal--visible-test-3 {
    display: block;
}
/*modal 4*/
.modal-overlay-test-1 {
    z-index: 3000;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}
.modal-test-1 {
    transform: scale(1.5);
    background-color: #fff;
    border-radius: 10px;
    width: 900px;
    height: 330px;
    display: none;
}
.modal-test-1 .modal-content-test-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 10px 20px 30px;
}
.modal-overlay--visible-test-1 {
    opacity: 1;
    visibility: visible;
    transition: all 0.3s ease-in-out;
}
.modal--visible-test-1 {
    display: block;
}
/*ADAPTIVE*/
@media (min-width: 2560px) {
    /*modal-1*/
    .modal-test {
        transform: scale(1.7);
        background-color: #fff;
        border-radius: 10px;
        width: 400px;
        height: 750px;
    }
    /*modal-2*/
    .modal-test-2 {
        transform: scale(1.7);
        background-color: #fff;
        border-radius: 10px;
        width: 420px;
        height: 430px;
    }
    /*modal-3*/
    .modal-test-3 {
        transform: scale(1.7);
        background-color: #fff;
        border-radius: 10px;
        width: 420px;
        height: 430px;
    }
    /*modal-4*/
    .modal-test-1 {
        transform: scale(2);
        background-color: #fff;
        border-radius: 10px;
        width: 900px;
        height: 330px;
    }
}
@media (min-width: 3840px) {
    /*modal-1*/
    .modal-test {
        transform: scale(2.1);
        background-color: #fff;
        border-radius: 10px;
        width: 400px;
        height: 750px;
    }
    /*modal-2*/
    .modal-test-2 {
        transform: scale(2.1);
        background-color: #fff;
        border-radius: 10px;
        width: 420px;
        height: 430px;
    }
    /*modal-3*/
    .modal-test-3 {
        transform: scale(2.1);
        background-color: #fff;
        border-radius: 10px;
        width: 420px;
        height: 430px;
    }
    /*modal-4*/
    .modal-test-1 {
        transform: scale(2.3);
        background-color: #fff;
        border-radius: 10px;
        width: 900px;
        height: 330px;
    }
}
@media (max-width: 1800px) {
    /*modal-1*/
    .modal-test {
        transform: scale(1.3);
        background-color: #fff;
        border-radius: 10px;
        width: 310px;
        height: 555px;
    }
    .modal-test-block {
        position: relative;
        left: 71%;
    }
    /*modal-2*/
    .modal-test-2 {
        transform: scale(1.7);
        background-color: #fff;
        border-radius: 10px;
        width: 305px;
        height: 325px;
    }
    .modal-test-block-2 {
        position: relative;
        right: 48%;
        top: 20%;
    }
    /*modal-3*/
    .modal-test-3 {
        transform: scale(1.7);
        background-color: #fff;
        border-radius: 10px;
        width: 305px;
        height: 310px;
    }
    .modal-test-block-3 {
        position: relative;
        right: -3%;
        top: 20%;
    }
    /*modal-4*/
    .modal-test-1 {
        transform: scale(1.9);
        background-color: #fff;
        border-radius: 10px;
        width: 630px;
        height: 235px;
    }
}

@media (max-width: 1600px) {
    /*modal-1*/
    .modal-test {
        transform: scale(1.3);
        background-color: #fff;
        border-radius: 10px;
        width: 280px;
        height: 540px;
    }
    .modal-test .modal-content-test {
        padding: 10px 10px 30px;
    }
    .modal-test-block {
        position: relative;
        left: 73%;
    }
    #modal-exit-1 svg {
        width: 24px;
        height: 24px;
    }
    /*modal-2*/
    .modal-test-2 {
        transform: scale(1.7);
        background-color: #fff;
        border-radius: 10px;
        width: 300px;
        height: 320px;
    }
    .modal-test-2 .modal-content-test-2 {
        padding: 10px 10px 30px;
    }
    .modal-test-block-2 {
        position: relative;
        right: 48%;
        top: 20%;
    }
    #modal-exit-2 svg {
        width: 24px;
        height: 24px;
    }
    /*modal-3*/
    .modal-test-3 {
        transform: scale(1.7);
        background-color: #fff;
        border-radius: 10px;
        width: 300px;
        height: 310px;
    }
    .modal-test-3 .modal-content-test-3 {
        padding: 10px 10px 30px;
    }
    .modal-test-block-3 {
        position: relative;
        right: -3%;
        top: 20%;
    }
    #modal-exit-3 svg {
        width: 24px;
        height: 24px;
    }
    /*modal-4*/
    .modal-test-1 {
        transform: scale(1.9);
        background-color: #fff;
        border-radius: 10px;
        width: 630px;
        height: 235px;
    }
    .modal-test-1 .modal-content-test-1 {
        padding: 10px 10px 30px;
    }
    #modal-exit-4 svg {
        width: 24px;
        height: 24px;
    }
}
@media (max-width: 1400px) {
    /*modal-1*/
    .modal-test {
        transform: scale(1.3);
        background-color: #fff;
        border-radius: 10px;
        width: 250px;
        height: 470px;
    }
    .modal-test .modal-content-test {
        padding: 10px 10px 30px;
    }
    .modal-test-block {
        position: relative;
        left: 87%;
    }
    #modal-exit-1 svg {
        width: 24px;
        height: 24px;
    }
    /*modal-2*/
    .modal-test-2 {
        transform: scale(1.7);
        background-color: #fff;
        border-radius: 10px;
        width: 246px;
        height: 280px;
    }
    .modal-test-block-2 {
        position: relative;
        right: 45%;
        top: 34%;
    }
    #modal-exit-2 svg {
        width: 24px;
        height: 24px;
    }
    /*modal-3*/
    .modal-test-3 {
        transform: scale(1.7);
        background-color: #fff;
        border-radius: 10px;
        width: 246px;
        height: 265px;
    }
    .modal-test-block-3 {
        position: relative;
        right: -16%;
        top: 34%;
    }
    #modal-exit-3 svg {
        width: 24px;
        height: 24px;
    }
    /*modal-4*/
    .modal-test-1 {
        transform: scale(1.7);
        background-color: #fff;
        border-radius: 10px;
        width: 540px;
        height: 205px;
    }
    #modal-exit-4 svg {
        width: 24px;
        height: 24px;
    }
}
@media (max-width: 1200px) {
    /*modal-1*/
    .modal-test {
        transform: scale(1.1);
        background-color: #fff;
        border-radius: 10px;
        width: 235px;
        height: 470px;
    }
    .modal-test .modal-content-test {
        padding: 10px 10px 30px;
    }
    .modal-test-block {
        position: relative;
        bottom: 5%;
        left: 116%;
    }
    #modal-exit-1 svg {
        width: 24px;
        height: 24px;
    }
    /*modal-2*/
    .modal-test-2 {
        transform: scale(1.7);
        background-color: #fff;
        border-radius: 10px;
        width: 246px;
        height: 280px;
    }
    .modal-test-block-2 {
        position: relative;
        right: 20%;
        top: 32%;
    }
    #modal-exit-2 svg {
        width: 24px;
        height: 24px;
    }
    /*modal-3*/
    .modal-test-3 {
        transform: scale(1.7);
        background-color: #fff;
        border-radius: 10px;
        width: 246px;
        height: 265px;
    }
    .modal-test-block-3 {
        position: relative;
        right: -37%;
        top: 32%;
    }
    #modal-exit-3 svg {
        width: 24px;
        height: 24px;
    }
    /*modal-4*/
    .modal-test-1 {
        transform: scale(1.7);
        background-color: #ffffff;
        border-radius: 10px;
        width: 540px;
        height: 205px;
    }
    .modal-test-block-1 {
        position: relative;
        left: 11%;
    }
    #modal-exit-4 svg {
        width: 24px;
        height: 24px;
    }
}

@media (max-width: 1100px) {
    /*modal-1*/
    .modal-overlay--visible-test {
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s ease-in-out;
    }
    .modal-test {
       display: none;
    }
    /*modal-2*/
    .modal-overlay--visible-test-2 {
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s ease-in-out;
    }
    .modal-test-2 {
        display: none;
    }
    /*modal-3*/
    .modal-overlay--visible-test-3 {
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s ease-in-out;
    }
    .modal-test-3 {
        display: none;
    }
    /*modal-4*/
    .modal-overlay--visible-test-1 {
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s ease-in-out;
    }
    .modal-test-1 {
        display: none;
    }
}
/*@media (max-height: 640px) {}*/
/*@media (max-height: 580px) {}*/
/*@media (max-height: 520px) {}*/
/*@media (max-height: 460px) {}*/
