.dropdown-menu {
    --bs-dropdown-link-active-bg: black !important;
}
.side-menu-top-list {
    padding: 0;
    margin: 0;
    list-style: none;
}

img {
    margin: 0;
    padding: 0;
}

svg {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4 {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

#nav-item-info {
    display: none;
}

.footer-dashboard-content-block {
    margin: 0px 0px 0px 15px;
}


#app {
    height: 100vh;
    width: 100%;
    overflow-y: hidden;
}

.container-nav {
    position: absolute;
    width: 100%;
    padding: 60px 80px 0;
    margin: 0;
}
/*NAVBAR*/
.navbar-main {
    background: transparent;
}
.navbar-content {
    display: flex;
    justify-content: right;
    align-items: center;
}
.navbar-link {
    margin: 0 0 0 45.3px;
    text-decoration: none;

    font-family: 'Proxima Nova', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    height: 25px;
    color: #FFFFFF;
    border-bottom: 2px solid transparent;
    transition: all .5s;
}
.navbar-link:hover {
    color: #ffff;
    border-bottom: 2px solid #ffff;
}
/*NAVBAR DASHBOARD*/
.navbar-main-dashboard {
    position: fixed;
    background: #FFFFFF;
    width: 100%;
    height: 87.60px;
    display: flex;
    justify-content: center;
    z-index: 1050;
}
.nav-dashboard-container {
    max-width: 1440px;
    width: 100%;
    padding: 0 50px;
    margin: 0;
}
.nav-dashboard-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 87.60px;
}
.nav-dashboard-options {
    display: flex;
    align-items: center;
}
.nav-dashboard-logo {
    display: flex;
}
.nav-d-logo {

}
.nav-d-logo img {
    width: 166px;
    height: 24px;
}
.nav-d-logo-img {
    margin: 0 53.25px 0 0;
}
.nav-dashboard-title {

}
.nav-dashboard-title-text {
    font-family: 'Proxima Nova', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    color: #000000;
    margin: 0;
}
.nav-d-theme {
    display: flex;
    align-items: center;
}
.nav-item {
    /*margin: 0 60px 0 62px;*/
    margin: 0 30px 0 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-d-text-theme {
    font-family: 'Proxima Nova', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */


    color: #000000;
}
.nav-d-text-theme-w {
    font-family: 'Proxima Nova', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
}
.nav-d-text-theme-d {
    font-family: 'Proxima Nova', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
}

.nav-d-change-theme {
    margin: 0 6.5px;
}

input[type="checkbox"] {
    position: relative;
    width: 26px;
    height: 15px;
    -webkit-appearance: none;
    appearance: none;
    background-color: #2D2D2D;
    outline: none;
    border-radius: 30px;
    box-shadow: inset 0 0 5px rgb(0 0 0 / 20%);
    transition: .5s;
}

input:checked[type="checkbox"] {
    background-color: #c6c6c6;
}

input[type="checkbox"]:before {
    content: '';
    position: absolute;
    width: 10.5px;
    height: 10.5px;
    border-radius: 50%;
    top: 2px;
    left: 2px;
    background-color: #ffff;
    transform: scale(1.1);
    transition: .5s;
}

input:checked[type="checkbox"]:before {
    left: 13px;
    background-color: #2D2D2D;
}

.nav-avatar-image {
    padding: 0;
    margin: 0 14px 0 0;
    width: 34px;
    height: 34px;
    background-color: #c6c6c6;
    border-radius: 50%;
}

#navbarDropdown {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-name-text {
    width: 100%;
    overflow: hidden;
    /*text-overflow: ellipsis;*/
    white-space: nowrap;

    font-family: 'Proxima Nova', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    border-bottom: 1px solid #c9c9c9;
    margin: 0 0 0 5px;
}

.nav-name-text-hi {
    margin: 0;
    font-family: 'Proxima Nova', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}

.dropdown-toggle::after {
    display: none;
}

.nav-profile-status {
    position: relative;
    left: 5px;
    bottom: 10px;
    content: '';
    width: 6px;
    height: 6px;
    z-index: 3;
    border-radius: 50%;
    background: #E4572E;
}

.nav-menu-dots {
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 1px solid #E3E3E3;
    height: 40px;
    padding: 0 0 0 30px;
}

/*FOOTER*/
.footer-main {
    background: transparent;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    /*height: 80px;*/
    padding: 0 80px;
    margin: 0 0 30px;
}
.footer-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}
.f-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 554px;
}
.f-text {
    font-family: 'Proxima Nova', sans-serif;
    /*font-family: 'Lato', sans-serif;*/
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    /* identical to box height */

    color: #000000;
}
.f-sublist {
    display: flex;
    justify-content: left;
    align-items: center;
}
.f-sub-text {
    font-family: 'Proxima Nova', sans-serif;
    /*font-family: 'Lato', sans-serif;*/
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    /* identical to box height */

    color: #000000;
}
/*FOOTER DASHBOARD*/
.footer-dashboard-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 105;
    background: black;
    /*position: absolute;*/
    position: fixed;
    left: 0;
    bottom: 0;
    height: 53.22px;
    width: 100%;
    padding: 0 80px;
}
.footer-dashboard-container {
    /*position: relative;*/
    /*max-width: 1440px;*/
    /*width: 50%;*/
    /*padding: 0 50px;*/
    /*margin: 0;*/
    max-width: 1440px;
    width: 100%;
    padding: 0 50px;
    margin: 0;
}
.footer-dashboard-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 53.22px;
    background-color: black;
    color: #ffff;
}
.f-d-content-1 {
    font-family: 'Proxima Nova', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    /* identical to box height */
    text-decoration-line: none;

    color: #C3C3C3;
}
.f-d-content-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 208px;
    font-family: 'Proxima Nova', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    /* identical to box height */
    text-decoration-line: none;

    color: #C3C3C3;
}
.f-d-content-2-link {
    font-family: 'Proxima Nova', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    color: #C3C3C3;
    cursor: pointer;
    text-decoration-line: none;

    transition: all .3s;
}
.f-d-content-2-link:hover {
    font-family: 'Proxima Nova', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    color: white;
}

@media (max-width: 1410px) {
    .f-list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 554px;
    }
    .navbar-main-dashboard {
        position: fixed;
        background: white;
        width: 100%;
        height: 60px;
        display: flex;
        justify-content: center;
        z-index: 1050;
    }
    .nav-dashboard-content {
        transform: scale(0.8);
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 60px;
    }
    .footer-dashboard-main {
        height: 53.22px;
    }
    .footer-content {
        transform: scale(0.9);
        position: relative;
        right: 5%;
    }
}
@media (max-width: 1201px) {
    .navbar-main-dashboard {
        position: fixed;
        background: white;
        width: 100%;
        height: 60px;
        display: flex;
        justify-content: center;
        z-index: 1050;
    }
    .nav-dashboard-content {
        transform: scale(0.8);
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 60px;
    }
    .footer-dashboard-main {
        height: 45px;
    }
    .footer-content {
        transform: scale(0.8);
        position: relative;
        right: 10%;
    }
}
@media (max-width: 1100px) {
    .navbar-main-dashboard {
        position: fixed;
        background: white;
        width: 100%;
        height: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1050;
    }
    .nav-dashboard-content {
        transform: scale(0.6);
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 60px;
    }
    .footer-dashboard-main {
        height: 35px;
    }
    .footer-content {
        transform: scale(0.6);
        position: relative;
        right: 10%;
    }
}
@media (max-width: 991px) {
    .navbar-main-dashboard {
        height: 35px;
    }
    .footer-dashboard-main {
        height: 35px;
    }
    .footer-content {
        transform: scale(0.6);
        position: relative;
        right: 10%;
    }
    /*.nav-dashboard-container {*/
    /*    position: fixed;*/
    /*    top: 0;*/
    /*    right: 0;*/
    /*}*/
}
@media (max-width: 960px) {

}
@media (max-width: 767px) {

}
@media (max-width: 579px) {

}
