.home-container {
    min-height: 100vh;
    /*min-height: 90vh;*/
    margin: 0 20px;
    background-color: rgb(0, 0, 0);
}
.home-h-title {
    font-family: 'Proxima Nova', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24.36px;

    color: #FFFFFF;
}
.footer-dashboard-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 53.22px;
    background-color: black;
    color: #ffff;
}
.footer-dashboard-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 105;
    background: black;
    /*position: absolute;*/
    position: fixed;
    left: 0;
    bottom: 0;
    height: 53.22px;
    width: 100%;
    padding: 0 80px;
}
.departmentsMainBlock {
    background-color: black;
    text-align: center;
    padding-top: 15px;
    height: 100vh;
}
.profile-main {
    position: fixed;
    left: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    height: 100vh;
    min-width: 100vw;
    background: black;
    margin: 0px;
}
.box1-left-text{
    z-index: 10;
    position: relative;
    transform: rotate(-90deg);
    top: -252px;
    left: -52%;
    font-family: 'Proxima Nova', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    color: #FFFFFF;
}
.box1-right-text{
    z-index: 10;
    position: relative;
    transform: rotate(-90deg);
    top: -480px;
    left: 52%;
    font-family: 'Proxima Nova', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    color: #FFFFFF;
}
.box2-title {
    display: flex;
    justify-content: left;
    /*align-items: center;*/
    width: 360px;
    font-family: 'Proxima Nova', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    margin: 35px 0 0;
    color: #FFFFFF;
}
.box3-title {
    display: flex;
    justify-content: left;
    /*align-items: center;*/
    width: 360px;
    font-family: 'Proxima Nova', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    margin: 35px 0 10px;
    color: #FFFFFF;
}
.sidebar-button-on-text {
    font-family: 'Proxima Nova', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    width: 70px;
    text-decoration: none;
    color: #FFFFFF;
    transform: rotate(-90deg);
    transition: all 0.5s;
}
.sidebar-button-on-text:hover {
    font-weight: 700;
    color: #3E3E3E;
}
.navbar-main-dashboard {
    position: fixed;
    background: #292929;
    width: 100%;
    height: 87.60px;
    display: flex;
    justify-content: center;
    z-index: 1050;
}
.nav-dashboard-title-text {
    font-family: 'Proxima Nova', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    color: #FFFFFF;
    margin: 0;
}
.nav-name-text {
    width: 100%;
    overflow: hidden;
    /*text-overflow: ellipsis;*/
    white-space: nowrap;

    font-family: 'Proxima Nova', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    border-bottom: 1px solid #c9c9c9;
    margin: 0 0 0 5px;
}

.nav-name-text-hi {
    margin: 0;
    font-family: 'Proxima Nova', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}