.departments-main {
    background-color: white;
    text-align: center;
    min-height: 100vh;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.department-container {
    max-width: 1440px;
    width: 100%;
    padding: 100px 50px 100px;
    margin: 0;
}
.departments-add-new-depart {
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 20px 0 40px;
}
.departments-add-new-depart-btn {

}
.departments-add-new-depart-btn:hover {

}

.department-delete-btn {
    fill: #ff6565;

    transition: all .5s;
}
.department-delete-btn:hover {
    fill: #ff0000;
}